.alert {
    position: relative;
    padding: 15px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.alert-info {
    color: white;
    background-color:  #750D37;
    text-align: center;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: inherit;
}

.panel-close {
    cursor: pointer;
}
.body-profile{
    background-color: #750D37;
    width: 50%;
    padding: 40px;
    margin-left: 25%;
}