@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.body-profile{
    background-color: #750D37;
    width: 50%;
    padding: 40px;
    margin-left: 25%;
    height: 30%;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-200deg,#d5c7bc 50%, #750d37 50%);
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: black;

}

.cuerpo form{
    position: relative;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;
}

.alert {
    position: relative;
    padding: 15px;
    width: 51%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.alert-info {
    color: white;
    background-color:  #750D37;
    text-align: center;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: inherit;
}

.panel-close {
    cursor: pointer;
}

.cuerpo input {
    width: 50%;
    height: 50px;
    margin-top: 2%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear; 
}

.cuerpo span {
    background: #fff;
    color: #333;
    padding: 3px 0px 3px 5px;
    border-radius: 5px 0px 0px 5px;
    margin-right: -5px; /* Ajusta este valor según sea necesario */
    line-height: 50px; /* Establece la misma altura que el input */
    padding-right: 10px;
}

button .change-boton {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

button .change-boton:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button .change-boton :hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.container-botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-botones button {
    margin: 0 5px;
}

.container-input {
    position: relative;
    margin-bottom: 20px;
  }
  
  .container-input .input-label {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container-input .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .container-input .input-container span {
    margin-right: 10px;
  }
  
  .container-input .input-container input {
    width: 100%;
  }
  