<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/adminMain.css">
      <title>MAIN ADMINISTRACIÓN ÓPTICAS ROIS</title>
      <link rel="icon" href="images/LOGO-1.png"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  </head>
    <body> 
      <header>
        <div class="icon__menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>

      <div class="menu__side">

        <div class="name_page">
          <h4>OPTICAS ROIS</h4>
        </div>

        <div class="options__menu">
          <a href="#"> 
            <div class="option">
              <i class="fas fa-home" title="Inicio"></i>
              <h4>Inicio</h4>
            </div>
          </a>

          <a href="#"> 
            <div class="option">
              <i class="fas fa-box-open" title="Inventario"></i>
              <h4>Inventario</h4>
            </div>
          </a>

          <a href="#"> 
            <div class="option">
              <i class="fas fa-edit" title="Modificar inventario"></i>
              <h4>Modificar inventario</h4>
            </div>
          </a>
          
          <a href="#"> 
            <div class="option">
              <i class="fas fa-truck" title="Pedidos"></i>
              <h4>Pedidos</h4>
            </div>
          </a>



        </div>


      </div>




    </body>

      <script src="js/script.js"></script>
</html>


