<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/adminMain.css">
      <title>MAIN ADMINISTRACIÓN ÓPTICAS ROIS</title>
      <link rel="icon" href="images/LOGO-1.png"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  </head>
    <body id="body"> 

      <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
      </header>

      <div class="menu__side" id="menu_side">

        <div class="name__page">
          <i class="fas fa-glasses" title="Inicio"></i>

          <h4>OPTICAS ROIS</h4>
        </div>

        <div class="options__menu">
          <a href="#" class="selected"> 
            <div class="option">
              <i class="fas fa-home" title="Inicio"></i>
              <h4>Inicio</h4>
            </div>
          </a>

          <a href="#"> 
            <div class="option">
              <i class="fas fa-box-open" title="Inventario"></i>
              <h4>Inventario</h4>
            </div>
          </a>

          <a href="#"> 
            <div class="option">
              <i class="fas fa-edit" title="Modificar inventario"></i>
              <h4>Modificar inventario</h4>
            </div>
          </a>
          
          <a href="#"> 
            <div class="option">
              <i class="fas fa-truck" title="Pedidos"></i>
              <h4>Pedidos</h4>
            </div>
          </a>

        </div>

      </div>

      <main>
        <h1>BIENVENIDO ADMIN CARA DE NALGA</h1><br> 
        <p> blbalbalblalbalblablalblallllblbla</p></br>
        
        <p> jkkdjakdjka akldajkd jkakd adkajkdkjadjakd jkajdajd kajk djakdajd kajkdajk djadjakdj kajdkajdaj 
          kjdkjadk jkdkad kadjkajkajdkajdk ajdka kadkjajd akjdakjdjka 
          lakdlaklj jkaa kdajhdakjdjad dkajd</p>




      </main>

      <script src="js/admin.js"></script>
    </body>
</html>

