<footer class="py-5" style="background-color: black; height: 150px;">
        <div class="text-center" style="margin-top: -40px;">
            <div class="d-inline-flex">
                <a href="https://api.whatsapp.com/send?phone=56992969933&text=%2AINSTAGRAM%2A" target="_blank" style="margin-right: 5px;">
                    <button style="background-color: black;">
                        <img src="images/WhatsappLogo.png" alt="WhatsApp Logo" style="width: 40px; height: 40px;">
                    </button>
                </a>

                <a href="https://goo.gl/maps/hBRwmfnupFBpeSfw8" target="_blank" style="margin-right: 5px;">
                    <button style="background-color: black;">
                        <img src="images/mapLogo.png" alt="Map Logo" style="width: 40px; height: 40px;">
                    </button>
                </a>

                <a href="https://www.instagram.com/optica_rois.cl/" target="_blank">
                    <button style="background-color: black;">
                        <img src="images/InstagramLogo.png" alt="Instagram Logo" style="width: 40px; height: 40px;">
                    </button>
                </a>
            </div>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; Óptica Rois 2023</p>
</footer>
<div id="bottom" style="background-color: black;"></div>
