<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio de sesión</title>
        <link rel="icon" href="images/LOGO-1.png"/>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>

    <body>
      <%- include("header") %>

    <div class="login-dark" style="background-color: white;">
      <h2 class="sr-only">Cliente Registrado</h2>
        <form class="form-horizontal" id="loginForm" method="post" action="/authLogin">
          <div class="illustration"><i class="icon ion-ios-glasses-outline"></i></div>
            <div class="form-group">
              <input type="text" name="rut" class="form-control" type="email"  placeholder="Rut">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Contraseña">
            </div>
            <% if (errorMsg) { %>
              <div class="forgot" style="color: white;"><%= errorMsg %></div>
            <% } %>
            <% if (successMsg) { %>
              <div style="color: white;"><%= successMsg %></div>
            <% } %>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit" href="#" onclick="submitForm()">Iniciar Sesión</button>
            </div><span class="forgot">¿No tienes cuenta? <a href="/register"> Registrate aquí</a></span>
            </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

            <%- include("footer") %>
          <script>
            function submitForm() {
              document.getElementById("loginForm").submit();
            }
          </script>
    </body>
</html>

