<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Iniciar sesión Óptica Rois</title>
        <link href="css/login.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>

    <body>
          <div class="login-box">
            <p>Iniciar sesión</p>
            <form id="loginForm" method="post" action="/authLogin">
              <div class="user-box">
                <input required="" type="text" name="rut">
                <label>Rut</label>
              </div>
              <div class="user-box">
                <input required="" name="password" type="password">
                <label>Constraseña</label>
              </div>
              <% if (errorMsg) { %>
                <div style="color: white;"><%= errorMsg %></div>
              <% } %>
              <% if (successMsg) { %>
                <div style="color: white;"><%= successMsg %></div>
              <% } %>
              <a href="#" onclick="submitForm()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Iniciar Sesión
              </a>
            </form>
            <p>¿No tienes una cuenta? <a href="/register" class="a2">¡Regístrate!</a></p>
          </div>
          <script>
            function submitForm() {
              document.getElementById("loginForm").submit();
            }
          </script>
    </body>
    
</html>
