<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Registrar nueva cuenta</title>
    <link rel="icon" href="images/LOGO-1.png"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
    <link href="css/register.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!--header -->
    <div class="container-fluid">
      <div class="row barra-principal" style="background-color: #750d37; color: white; padding: 2px; z-index: 10;">
          <div class="col text-center" style="max-width: 100%;">
              Rois Chile <i class="fas fa-glasses"></i> | Envíos a todo Chile <i class="fas fa-shipping-fast"></i> | Entregas en la V región <i class="fas fa-truck"></i> 
          </div>
      </div>
  </div> 

  <nav class="navbar navbar-expand-lg navbar-light sticky-header" style="background-color: whitesmoke; height: 80px;">
      <div class="container-fluid px-4 px-lg-5">
      <a class="nav-link active" aria-current="page" href="/">
          <h1 class="text-start">ÓPTICA <span class="burdeo">R</span><span class="gris">O</span><span class="burdeo">IS</span></h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if(typeof isLoggedIn === 'undefined' || !isLoggedIn) { %>
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='/login'">
                  <i class="fas fa-user"></i>
              <span class="text" style="color: black;">Iniciar sesión</span>
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='/register'">
                  <i class="fas fa-user-plus"></i>
              <span class="text" style="color: black;">Registrarse</span>
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='#bottom'">
                  <i class="fas fa-question-circle"></i> 
              <span class="text" style="color: black;">Nosotros</span>
              </button>
          </li>
          </ul>
          <% } else { %>
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link greeting" style="color: #752B50; font-weight: bold;" href="/profile">Hola <%= user_name %>, edita tu perfil aquí! &#128075;</a>
          </li>
          <li class="nav-item">
              <form class="d-flex" action="/logout" method="post">
              <input type="submit" class="btn btn-outline-dark mt-auto" style="color: white;background-color: #333333;" value="Cerrar sesión" />
              </form>
          </li>
          </ul>
          <% } %>
      </div>
      </div>
  </nav>


  <div class="form_wrapper mi-clase" style="margin-bottom: 2%; margin-top: 2%;">
    <div class="form_container1">
      <div class="title_container">
        <h2>Formulario de registro</h2>
      </div>
      <div class="row1 clearfix">
        <div class="">
          <form action="/register" method="post" enctype="multipart/form-data"> 
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i class="fa fa-user"></i></span>
                  <input type="text" name="primer_nombre" placeholder="Primer nombre" required/>
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i class="fa fa-user"></i></span>
                  <input type="text" name="segundo_nombre" placeholder="Segundo nombre" required />
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i class="fa fa-user"></i></span>
                  <input type="text" name="primer_apellido" placeholder="Primer apellido" required/>
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i class="fa fa-user"></i></span>
                  <input type="text" name="segundo_apellido" placeholder="Segundo apellido" required />
                </div>
              </div>
            </div>
            <div class="input_field"> <span><i class="fas fa-file-alt"></i></span>
              <input type="text" name="rut"" placeholder="Rut" required pattern="^[0-9]{7,8}-[0-9kK]{1}$"/>
            </div>
            <div class="input_field"> <span><i class="fas fa-map-marker-alt"></i></span>
              <input type="text" name="direccion" placeholder="Dirección" required />
            </div>
            <div class="input_field"> <span><i class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Contraseña" required />
            </div>
            <div class="input_field">
              <label for="file_input">
                Receta:
              </label>
              <input id="file_input" type="file" name="file" required />
            </div>
            <input class="button" type="button" onclick="resetFields()" value="Limpiar campos"/>
            <input class="button register-boton" type="submit" value="Registrar" />
            <% if (errorMsg) { %>
              <div class="error-msg"><%= errorMsg %></div>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>


    <%- include("footer") %>
    <script>
      function resetFields() {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
        if (input.type !== 'submit') {
          input.value = '';
        }
        });
      }
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const toggleButton = document.querySelector('.toggle-password');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          toggleButton.textContent = 'Ocultar';
        } else {
          passwordInput.type = 'password';
          toggleButton.textContent = 'Mostrar';
        }
      }
    </script>
  </body>
</html>


