<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Registrar nueva cuenta</title>
    <link rel="icon" href="images/LOGO-1.png"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
    <link href="css/register.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!--header -->
    
    <!-- Nueva fila superior con color de fondo -->
    <div class="container-fluid">
      <div class="row barra-principal" style="background-color: #750d37; color: white; padding: 2px; z-index: 10;">
          <div class="col text-center" style="max-width: 100%;">
              Rois Chile <i class="fas fa-glasses"></i> | Envíos a todo Chile <i class="fas fa-shipping-fast"></i> | Entregas en la V región <i class="fas fa-truck"></i> 
          </div>
      </div>
  </div> 

  <nav class="navbar navbar-expand-lg navbar-light sticky-header" style="background-color: whitesmoke; height: 80px;">
      <div class="container-fluid px-4 px-lg-5">
      <a class="nav-link active" aria-current="page" href="/">
          <h1 class="text-start">ÓPTICA <span class="burdeo">R</span><span class="gris">O</span><span class="burdeo">IS</span></h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if(typeof isLoggedIn === 'undefined' || !isLoggedIn) { %>
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='/login'">
                  <i class="fas fa-user"></i>
              <span class="text" style="color: black;">Iniciar sesión</span>
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='/register'">
                  <i class="fas fa-user-plus"></i>
              <span class="text" style="color: black;">Registrarse</span>
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn" onclick="location.href='#bottom'">
                  <i class="fas fa-question-circle"></i> 
              <span class="text" style="color: black;">Nosotros</span>
              </button>
          </li>
          </ul>
          <% } else { %>
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link greeting" style="color: #752B50; font-weight: bold;" href="/profile">Hola <%= user_name %>, edita tu perfil aquí! &#128075;</a>
          </li>
          <li class="nav-item">
              <form class="d-flex" action="/logout" method="post">
              <input type="submit" class="btn btn-outline-dark mt-auto" style="color: white;background-color: #333333;" value="Cerrar sesión" />
              </form>
          </li>
          </ul>
          <% } %>
      </div>
      </div>
  </nav>






    <div class="custom-login-dark">
      <h2 class="sr-only">Registro</h2>
      <form action="/register" method="post" enctype="multipart/form-data">
        <div class="illustration"><i class="icon ion-ios-glasses-outline">Registro</i></div>
        <div class="input-box">
          <div class="row">
            <div class="col">
              <input class="form-control" type="text" name="primer_nombre" placeholder="Primer Nombre" required>
            </div>
            <div class="col">
              <input class="form-control" type="text" name="segundo_nombre" placeholder="Segundo Nombre" required>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <div class="col">
              <input class="form-control" type="text" name="primer_apellido" placeholder="Primer Apellido" required>
            </div>
            <div class="col">
              <input class="form-control" type="text" name="segundo_apellido" placeholder="Segundo Apellido" required>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <div class="col">
              <input class="form-control" type="text" name="rut" placeholder="Rut" required pattern="^[0-9]{7,8}-[0-9kK]{1}$">
            </div>
            <div class="col">
              <input class="form-control" type="text" name="direccion" placeholder="Dirección" required>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <div class="col">
              <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="col">
            <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-control" style="color: #6C757D;">
              Seleccione receta <input type="file" name="file" required>
            </label>
          </div>
        </div>
          <div class="col">
            <button class="btn btn-primary btn-block" type="button" onclick="resetFields()">Limpiar campos</button>
            <button class="btn btn-primary btn-block" type="submit">Registrarse</button>
          </div>
        <% if (errorMsg) { %>
          <div class="error-msg"><%= errorMsg %></div>
        <% } %>
      </form>
    </div>

    <%- include("footer") %>
    <script>
      function resetFields() {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
        if (input.type !== 'submit') {
          input.value = '';
        }
        });
      }
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const toggleButton = document.querySelector('.toggle-password');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          toggleButton.textContent = 'Ocultar';
        } else {
          passwordInput.type = 'password';
          toggleButton.textContent = 'Mostrar';
        }
      }
    </script>
  </body>
</html>


